{% extends 'catering/base.html' %}
{% load static %}

{% block title %}

{% endblock %}
{% block style %}

{% endblock %}

{% block main %}
    <div class="mini-logo--transparent">
        <img class="" src="{% static 'catering/1.png' %}" alt="" width="250px">
    </div>
    <div class="generic-page">
        <h1 class="generic-page__header">Банкеты</h1>
        <p class="generic-page__paragraph">
            Банкетное меню от 600 рублей на человека. Уютный зал может вместить до 70 гостей.
        </p>
        <p class="generic-page__paragraph">
            Свой алкоголь бесплатно (с чеком). Можно принести с собой фрукты, икру, торт.
        </p>
        <p class="generic-page__paragraph">
            Предоплата: первый взнос (бронь) - 50% от суммы заказа, оставшаяся сумма в начале банкета.
        </p>
        <p class="generic-page__paragraph">
            Проценты за обслуживание: 10% от общей стоимости банкета.
        </p>
        <p class="generic-page__paragraph">
            <b>Скидка</b> в честь <b>Дня рождения 20 %</b>. Действует в течение 7 дней после знаменательной даты.
        </p>
        <p class="generic-page__paragraph">
            <b>При заказе</b> банкета <b>от 100 000 рублей </b>в подарок ящик шампанского.
        </p>
        <div class="generic-page__image-container--modified">
            <img class="generic-page__image--modified" src="{% static 'catering/banquet.jpg' %}" alt="">
        </div>
        <div class="links-bottom">
            <hr class="links-bottom__hr">
            <a href="{% url 'delivery' %}" class="links-bottom__item">
                <img class="links-bottom__image" src="{% static 'catering/delivery.png' %}" alt="">
                <span class="links-bottom__text">Доставка</span>
            </a>
            <a href="{% url 'discounts' %}" class="links-bottom__item">
                <img class="links-bottom__image" src="{% static 'catering/discounts.png' %}" alt="">
                <span class="links-bottom__text">Акции</span>
            </a>
            <a href="{% url 'contacts' %}" class="links-bottom__item">
                <img class="links-bottom__image" src="{% static 'catering/contacts.png' %}" alt="">
                <span class="links-bottom__text"> Контакты</span>
            </a>
        </div>
    </div>
{% endblock %}