<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/b02f088cef.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <link href="http://allfont.ru/allfont.css?fonts=aquarelle" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'catering/css/1.css' %}" rel="stylesheet" type="text/css">
    <title>{% block title %}Главная{% endblock %}</title>
    <style>
        .main-wrapper:before {
            background-image: url("{% static 'catering/fon.jpg' %}");
        }
    </style>
</head>
<body>
<div id="modal"></div>
<div class="page-wrapper">
    <header>
        <nav class="main-nav">
            <div class="toggle-button" id="toggle">&#9776;</div>
            <div class="menu-wrapper">
                <ul class="main-nav__list">
                    <li class="main-nav__item">
                        <a href="{% url 'index' %}" class="main-nav__link main-nav__link--first">Главная</a>
                    </li>
                    <li class="main-nav__item">
                        <div class="vertical-line"></div>
                        <a href="#" class="main-nav__link">Меню</a>
                    </li>
                    <li class="main-nav__item">
                        <div class="vertical-line"></div>
                        <a href="{% url 'business-lunch' %}" class="main-nav__link">Бизнес-Ланч</a>
                    </li>
                    <li class="main-nav__item">
                        <div class="vertical-line"></div>
                        <a href="{% url 'delivery' %}" class="main-nav__link">Доставка</a>
                    </li>
                    <li class="main-nav__item">
                        <div class="vertical-line"></div>
                        <a href="{% url 'banquet' %}" class="main-nav__link">Банкеты</a>
                    </li>
                    <li class="main-nav__item">
                        <div class="vertical-line"></div>
                        <a href="{% url 'discounts' %}" class="main-nav__link">Акции</a>
                    </li>
                    <li class="main-nav__item">
                        <div class="vertical-line"></div>
                        <a href="{% url 'feedback' %}" class="main-nav__link">Отзывы</a>
                    </li>
                    <li class="main-nav__item">
                        <div class="vertical-line"></div>
                        <a href="{% url 'contacts' %}" class="main-nav__link main-nav__link--last">Контакты</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="main-wrapper">
            {% block main %}
            {% endblock %}
        </div>
    </main>
    <div class="footer-wrapper">
        <footer class="page-footer">
            <div class=" page-footer__item address-info">
                <p class="address-info__container">
                    <span class="address-info__item address-info__item--ad-pad">День & Ночь</span>
                    <span class="address-info__item"> +7-925-517-10-78, +7-980-898-21-37</span>
                </p>
                <p class="address-info__container">
                    <span class="address-info__item">117556, Pоссия, Москва,</span>
                    <span class="address-info__item">Варшавское шоссе, 91</span>
                </p>
            </div>
            <div class="page-footer__item socials">
                <a class="socials__link" href="#">
                    <img class="socials__social socials__social--vk" src="{% static 'catering/vk.png' %}" alt="vk">
                </a>
                <a class="socials__link" href="#">
                    <img class="socials__social socials__social--insta" src="{% static 'catering/insta.png' %}"
                         alt="insta">
                </a>
                <a class="socials__link" href="#">
                    <img class="socials__social socials__social--telegram" src="{% static 'catering/telegram.png' %}"
                         alt="fb">
                </a>
            </div>
        </footer>
    </div>
</div>
<script src="{% static 'catering/javascript/js.js' %}"></script>
</body>
</html>
