{% extends 'catering/base.html' %}
{% load static %}

{% block title %}

{% endblock %}
{% block style %}

{% endblock %}

{% block main %}
    <div class="mini-logo--transparent">
        <img class="" src="{% static 'catering/1.png' %}" alt="" width="250px">
    </div>
    <div class="generic-page">
        <h1 class="generic-page__header">Бизнес-ланч</h1>
        <p class="generic-page__paragraph">
            В нашем кафе День & Ночь с <b>12:00 до 16:00 сервируют бизнес-ланч</b> с учетом пожеланий гостей, которые мы
            изучаем постоянно.
        </p>
        <p class="generic-page__paragraph">
            <b>Стоимость ланча 250 рублей.</b>
        </p>
        <p class="generic-page__paragraph">
            Разнообразное обеденное меню обновляется каждый день.
        </p>
        <p class="generic-page__paragraph">
            Мы предлагаем на выбор 2 вида салата, 2-3 вида первого блюда, 2-3 вида горячего блюда, с гарниром и без,
            а также напитки. Плюс уютная атмосфера и приятное обслуживание.
        </p>
        <p class="generic-page__paragraph">
            Оставить комментарий вы можете в разделе «Отзывы». Каждый комментарий важен для нас, именно поэтому наши
            ланчи такие вкусные и нравятся вам!
            <i>Творить шеф-повару интереснее, когда он знает о ваших предпочтениях!</i>
        </p>

    </div>
{% endblock %}