{% extends 'catering/base.html' %}
{% load static %}

{% block title %}

{% endblock %}
{% block style %}

{% endblock %}

{% block main %}
    <div class="generic-page">
        <h1 class="generic-page__header">Контактная информация</h1>
        <p class="generic-page__paragraph"><b>Адрес:</b> 117556, Россия, Москва, Варшавское шоссе, 91</p>
        <p class="generic-page__paragraph">
            <b>Номера телефонов:</b>
            <span> +7-925-517-10-78,</span>
            <span> +7-980-898-21-37</span>
        </p>
        <div class="map-wrapper">
            <iframe class="map"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2251.1961072627505!2d37.6190763159266!3d55.65079798052621!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414ab317ec88542f%3A0x850308dd346873b4!2sVarshavskoye%20Hwy%2C%2091%2C%20Moskva%2C%20117556!5e0!3m2!1sen!2sru!4v1570015654340!5m2!1sen!2sru"
                    width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>

    </div>
{% endblock %}