{% extends 'catering/base.html' %}
{% load static %}

{% block title %}

{% endblock %}
{% block style %}

{% endblock %}

{% block main %}

    <div class="mini-logo--transparent">
        <img class="" src="{% static 'catering/1.png' %}" alt="" width="250px">
    </div>
    <div class="generic-page">
        <h1 class="generic-page__header">Меню</h1>
        <div class="generic-page__image-container--modified">
            <img class="generic-page__image--modified" src="{% static 'catering/main-menu.jpg' %}" alt="">
        </div>
    </div>
{% endblock %}