@import url('base.css');
@import url('navbar.css');
@import url('footer.css');
@import url('slider.css');
@import url('forms.css');
@import url('categories.css');

@font-face {
    font-family: 'Aquarelle';
    src: local('Aquarelle'),
    url('../4285.ttf') format("truetype");
}

hr {
    border-top: 1px solid rgba(153, 64, 255, 0.41);
}

.discounts-image-wrapper {
    width: 100%;
    display: flex;
    margin: 0 auto;
}

.discounts-image {
    display: block;
    width: calc(50% - 20px);
    padding: 10px;
}

.links-bottom {
    margin: 0 30px;
    display: none;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.links-bottom__item {
    padding-right: 5px;
    padding-top: 5px;
    font-family: "Century Gothic", sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.links-bottom__image {
    width: 25px;
    height: 25px;
}

.links-bottom__text {
    color: #4d2798;
}

@media only screen and (max-width: 940px) {
    .links-bottom {
        display: flex;
    }

    .links-bottom__hr {
        width: 100%;
    }

    .discounts-image-wrapper {
        width: 90%;
    }
}

.mini-logo {
    background-color: #fcfdfe;
    text-align: center;
    width: 100%;
    top: 8px;
    left: 40px;
    display: none;
    font: 25px 'Aquarelle';
    color: #4d2798;
}

.mini-logo--transparent {
    text-align: center;
    width: 100%;
    top: 8px;
    left: 40px;
    display: none;
}

.mini-logo-image {
    padding-top: 15px;
    width: 250px;
    height: 50px;
}

.map-wrapper {
    margin-top: 20px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.18);
}

.map {
    width: 100%;
}

.generic-page {
    box-sizing: border-box;
    max-width: 910px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
}

.generic-page__header {
    font: 40px 'Century Gothic';
    font-weight: 600;
    margin: 15px 0 25px;
    color: #e4322b;
}

.generic-list__item {
    text-indent: 40px;
    font: 18px 'Century Gothic';
    line-height: 25px;
    padding-bottom: 5px;
    color: #4d2798;
}

.generic-page__paragraph {
    font: 18px 'Century Gothic';
    line-height: 25px;
    padding-bottom: 10px;
    overflow-wrap: break-word;
    color: #4d2798;
}

.generic-page__image-container {
    width: 100%;
    position: relative;
    padding-top: 20px;
}

.generic-page__image-container--modified {
    width: 100%;
    padding: 20px 0;
}

.generic-page__image--modified {
    width: 100%;
}

.generic-page__image {
    display: block;
    max-width: 100%;
    height: auto;
    width: auto;
}

@media only screen and (max-width: 940px) {
    .generic-page__image-container-outer {
        margin: 0 30px;
        overflow: hidden;
    }

    .generic-page__image {
        height: auto;
        width: 100%;
    }

    .generic-page__image-container--modified {
        display: none;
    }
}

.hr-wrapper {
    width: 100%;
}

.page-wrapper {
    position: relative;
    min-height: 100vh;
}

.generic-page__paragraph--custom {
    width: 100%;
    font: 16px 'Century Gothic';
    display: inline;
    line-height: 25px;
    padding-bottom: 10px;
    overflow-wrap: break-word;
    color: #4d2798;
}

.common-feedback-wrapper {
    padding-top: 40px;
}


@media only screen and (max-width: 940px) {

    .generic-page__header {
        font-size: 30px;
        padding-top: 15px;
        margin: 0 30px 10px;
    }

    .generic-page__paragraph {
        font: 18px 'Century Gothic';
        margin-left: 30px;
        margin-right: 30px;
        text-align: justify;
    }

    .generic-list {
        margin: 0 30px;
    }

    .generic-list {

    }

    .map-wrapper {
        margin: 25px 30px;
        position: relative;
        padding-bottom: 50%;
        height: 0;
        overflow: hidden;
    }

    .map {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }

    .hr-wrapper {
        width: 100%;
    }

    .common-feedback-wrapper {
        margin: 0 30px;
    }
}

.main-wrapper {
    position: relative;
    min-height: calc(100vh - 180px);
    display: block;
    padding-bottom: 90px;
    padding-top: 20px;
}

.main-wrapper:before {
    z-index: -1;
    position: absolute;
    content: "";
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.15;
    width: 100%;
    height: 100%;
}

.visually-hidden {
    font-size: 0;
    clip: rect(0, 0, 0, 0);
}

.offers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px auto 0;
    width: 910px;
}

.offers__article {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    border: 1px solid #9c9c9c;
    width: 270px;
}

.offers__text-wrapper {
    opacity: 0.9;
    background-color: rgba(255, 255, 255, 0.5);
    min-height: 210px;
    width: 100%;
}

.offers__button {
    display: table;
    font: 16px 'Century Gothic';
    font-weight: 500;
    color: white;;
    text-decoration: none;
    background-color: #e4322b;
    height: 40px;
    width: 100%;
    transition: 0.1s;
    transition-delay: 0.1s;
}

.offers__button:hover {
    background-color: rgb(255, 19, 0);
    transition: 0.1s;
    color: white;
}

.button-text {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    padding-left: 25px;
}


.offers__button:active {
    background-color: rgba(155, 32, 28, 0.91);
}

.offers__heading {
    height: 40px;
    overflow: hidden;
}

.heading-text {
    color: #e4322b;
    font-weight: 900;
    font-family: "Century Gothic", sans-serif;
    font-size: 18px;
    text-align: center;
    display: block;
    padding-top: 15px;
}

.horizontal-line {
    margin: 0 auto;
    width: 80%;
    border: 0;
    border-top: 2px solid #492874;
}

.article-text {
    position: relative;
    padding: 5px 15px 5px 25px;
}

.article-text p {
    padding-left: 12px;
    font: 14px 'Century Gothic';
    font-weight: 700;
    color: #492874;
    margin-bottom: 6px;
}

.circle:before {
    left: 25px;
    position: absolute;
    content: ' \25CF';
    font-size: 15px;
}

.offers__heading {
    position: relative;
}

.heading-circle-after:after {
    color: green;
    right: 25px;
    position: absolute;
    content: ' \25CF';
    font-size: 15px;
}

.heading-circle-before:before {
    color: green;
    left: 25px;
    position: absolute;
    content: ' \25CF';
    font-size: 15px;
}

.heading-circle:after {
    color: green;
    right: 25px;
    position: absolute;
    content: ' \25CF';
    font-size: 15px;
}

.heading-circle-middle:after {
    padding: 0 5px;
    color: green;
    right: 50px;
    content: ' \25CF';
    font-size: 15px;
}


@media only screen and (max-width: 910px) {
    .offers {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px auto 0;
        width: 100%;
    }

    .main-wrapper {
        padding-top: 0;
    }

    .offers__text-wrapper {
        opacity: 0.9;
        background-color: #ffffff;
        width: 100%;
    }

    .offers__button {
        width: 100%;
        transition: 0.1s;
        transition-delay: 0.1s;
    }

    .offers__button:hover {
        transition: 0.1s;
        transition-delay: 0.1s;
        color: white;
    }

    .offers__heading {
        font: 26px 'Courier New';
        color: black;
        overflow: hidden;
    }

    .heading-text {
        display: block;
        padding: 15px 0 0 15px;
    }
}

@media only screen and (max-width: 835px) {
    .offers__article {
        width: 100%;
        margin: 0 30px 20px
    }

    .circle:before {
        left: 45px;
    }

    .article-text p {
        padding-left: 40px;
        font-size: 18px;
    }

    .horizontal-line {
        width: 85%;
    }

    .button-text {
        padding-left: 45px;
    }

    .heading-circle-after:after {
        position: static;
    }

    .heading-circle-before:before {
        position: static;
    }
}

@media only screen and (max-width: 640px) {

    .generic-page__header {
        text-align: center;
        padding-top: 0;
    }

    .main-wrapper {
        min-height: calc(100vh - 180px);
        display: block;
        padding-bottom: 175px;
        padding-top: 25px;
    }

    .offers {
        width: 100%;
    }

    .offers__article {
        display: block;
        padding: 0;
        width: 100%;
    }

    .article-text p {
        padding-left: 15px;
        font-size: 16px;
    }

    .circle:before {
        left: 20px;
    }

    .heading-circle-after:after {
        position: absolute;
        right: 20px;
    }

    .heading-circle-before:before {
        position: absolute;
        left: 20px;
    }

    .button-text {
        padding-left: 20px;
    }

    .horizontal-line {
        width: 87%;
    }

    .mini-logo, .mini-logo--transparent {
        display: block;
    }

    .discounts-image-wrapper {
        flex-direction: column;
        width: auto;
        margin-left: 30px;
        margin-right: 30px;
    }

    .discounts-image {
        padding: 0 0 20px;
        width: 100%;
    }
}

