@import url('base.css');
@import url('navbar.css');
@import url('footer.css');
@import url('slider.css');
@font-face {
  font-family: 'Century Gothic';
  src: local('Century Gothic'),
       url('../fonts/11528.ttf') format("truetype");
}

.visually-hidden {
    font-size: 0;
    clip: rect(0, 0, 0, 0);
}

.offers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 25px auto 0;
    width: 910px;
}

.offers__article {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    border: 1px solid #9c9c9c;
    width: 270px;
    /*min-height: 250px;*/
}

.offers__text-wrapper {
    opacity: 0.9;
    background-color: #ffffff;
    min-height: 250px;
    width: 100%;
}

.offers__button {
    display: table;
    font: 16px 'Century Gothic';
    font-weight: 500;
    color: white;;
    text-decoration: none;
    background-color: #e4322b;
    height: 40px;
    width: 100%;
    transition: 0.1s;
    transition-delay: 0.1s;
}

.offers__button:hover {
    transition: 0.1s;
    transition-delay: 0.1s;
    color: white;
}

.button-text {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    padding-left:25px;
}

.offers__heading {
    height: 40px;
    overflow: hidden;
}

.heading-text {
    color: #e4322b;
    font-weight: 900;
    font-family: "Century Gothic", sans-serif;
    font-size: 18px;
    text-align: center;
    display: block;
    padding-top: 15px;
}

.horizontal-line {
    margin: 0 auto;
    width: 80%;
    border: 0;
    border-top: 2px solid #492874;
}

.article-text {
    padding: 15px 0 0 25px;
}

.article-text p {
    font: 16px 'Century Gothic';
    color: #492874;
    margin-bottom: 6px;
}

@media only screen and (max-width: 910px) {
    .offers {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px auto 0;
        width: 100%;
    }

    .offers__text-wrapper {
        opacity: 0.9;
        background-color: #ffffff;
        width: 100%;
    }

    .offers__button {
        width: 100%;
        transition: 0.1s;
        transition-delay: 0.1s;
    }

    .offers__button:hover {
        transition: 0.1s;
        transition-delay: 0.1s;
        color: white;
    }

    .offers__heading {
        font: 26px 'Courier New';
        color: black;
        overflow: hidden;
    }

    .heading-text {
        display: block;
        padding: 15px 0 0 15px;
    }

}

@media only screen and (max-width: 640px) {
    .offers {
        width: 100%;
    }

    .offers__article {
        display: block;
        padding: 0;
        width: 100%;
    }
}

